source <(fzf --zsh)

XDG_DATA_HOME = ~/.local/share/
XDG_STATE_HOME = ~/.local/state/
XDG_CACHE_HOME = ~/.cache/

# remove vi and and add lunarvim alias for both vi and vim

alias update = "yay -Syyu; rustup update; curl -fsSL https://fnm.vercel.app/install | bash -s -- --skip-shell; npm update -g; pnpm up -g --latest"
alias clean = "myay -Rsn $(yay -Qdtq); rm -rf .cache/yay; rustup update; pnpm store prune --force; npm cache clean --force;"

# fnm
FNM_PATH="/home/carmack/.local/share/fnm"
if [ -d "$FNM_PATH" ]; then
  export PATH="/home/carmack/.local/share/fnm:$PATH"
  eval "$(fnm env --use-on-cd --shell zsh)"
fi

# mcfly
eval "$(mcfly init zsh)"

# zoxide
eval "$(zoxide init zsh)"