source <(fzf --zsh)

XDG_DATA_HOME = ~/.local/share/
XDG_STATE_HOME = ~/.local/state/
XDG_CACHE_HOME = ~/.cache/

# remove vi and and add lunarvim alias for both vi and vim


# fnm
FNM_PATH="/home/carmack/.local/share/fnm"
if [ -d "$FNM_PATH" ]; then
  export PATH="/home/carmack/.local/share/fnm:$PATH"
  eval "$(fnm env --use-on-cd --shell zsh)"
fi

# mcfly
eval "$(mcfly init zsh)"